/* general styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #f7f7f9;
}

/* navigation styles */

.tool-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1.2rem 1.5rem;
}

.logo-icon {
  width: 3.2rem;
}

.menu-icon {
  width: 32px;
}

/* Introduction styles */

.headline-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  background-image: url('/Backgrounds/header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 79px;
  background-color: #fff;
  padding: 0 1rem 8.5rem 1.5rem;
  margin-bottom: 6px;
}

.headline-container h1 {
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 5.5rem 1.5rem 0.7rem 0;
}

.headline-container p {
  font-weight: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-items: center;
  margin-right: 24px;
  padding-bottom: 0.8rem;
}

.connection {
  text-decoration: none;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connect-icon-container {
  display: flex;
  width: 170.17px;
  height: 20px;
  gap: 1.5rem;
  padding-top: 1.5rem;
  list-style: none;
  padding-left: 0;
}

/* Works section */

#works {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  margin-top: 114px;
  gap: 88px;
}

.works-card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background: #fff;
}

.works {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background: #fff;
}

.card-snapshoot {
  align-self: center;
  width: 295px;
  height: 220px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.works-card-title {
  align-self: flex-start;
  margin-top: 12px;
  margin-bottom: 20px;
}

.works-card-title h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  max-width: 295px;
}

.works-client-info {
  padding: 8px 0;
  align-self: flex-start;
  margin-top: 0;
}

.works-client-info .client {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.works-client-info .role {
  font-family: 'Poppins', sans-serif;

  /* font-style: normal; */
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.works-client-info .year {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.works-client-info img {
  margin: 0 12px;
}

.works-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

.works-stacks {
  list-style: none;
  display: inline;
  margin-left: -10;
  padding-left: 0;
}

.works-stacks li {
  display: inline-block;
  line-height: 16px;
}

.works-stacks li a {
  text-decoration: none;
  padding: 4px 12px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
  width: 49px;
  height: 24px;
  letter-spacing: 0.03em;
}

.more-projects {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  color: #6070ff;
  width: 126px;
  height: 48px;
  margin: 24px 0;
  border-radius: 8px;
  padding: 12px;
  background-color: white;
}

/* About myself section */

.about_myself {
  background: #fff;
  border-top-right-radius: 79px;
  margin-top: 114px;
}

.about_myself h2 {
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 5.5rem 1.5rem 0.7rem 0;
}

.about_myself p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-items: center;
  padding-bottom: 0.8rem;
}

.resume {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  color: #6070ff;
  width: 162px;
  height: 48px;
  margin: 24px 0;
  border-radius: 8px;
  padding: 12px;
  background-color: white;
}

.categories {
  list-style: none;
  margin: 0;
  padding-bottom: 23px;
  padding-left: 0;
  align-items: center;
}

.categories li {
  position: relative;
  padding-bottom: 23px;
  margin-top: 13px;
}

.categories button {
  float: right;
  font-size: 14px;
  color: #acb7c3;
  border: none;
  background-color: white;
  margin: 0;
  font-weight: 500;
}

.categories span h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.modal-view-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  align-items: center;
  width: 327px;
  height: 248.15px;
}

/* Modal-view-styles */

.modal-view {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.modal-view-icon img {
  object-fit: cover;
  margin: 9px 12px 9px 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Button states */

.modal-view-arrow {
  pointer-events: none;
  width: 40px;
  padding: 8px;
  height: 40px;
  border-radius: 8px;
  position: absolute;
  left: 75.67%;
  right: 10.33%;
  bottom: 25%;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  padding: 12px;

  /* height: 48px; */
  font-size: 100%;
  font-weight: 500;
  cursor: pointer;
}

button:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

button:visited {
  color: #5e6c84;
}

/* responsiveness */
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .headline-container {
    padding: 2%;
  }
}
