/* general styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #f7f7f9;
  margin: 0;
  padding: 0;

  /* background-color: rgba(128, 128, 128, 0.358); */
}

/* navigation styles */

.tool-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1.2rem 1.5rem;
}

.desktop_menu {
  display: none;
}

.logo-icon {
  animation: mover 1s linear;
  width: 3.2rem;
  -webkit-animation: mover 1s linear;
}

.menu-icon {
  width: 32px;
}

/* Introduction styles */

.headline-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/Backgrounds/header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 79px;
  background-color: #fff;
  padding: 0 1rem 8.5rem 1.5rem;
  margin-bottom: 6px;
}

.headline-container h1 {
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 5.5rem 1.5rem 0.7rem 0;
}

.headline-container p {
  font-weight: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-items: center;
  margin-right: 24px;
  padding-bottom: 0.8rem;
}

.connection {
  text-decoration: none;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-right: 24px;
}

.connect-icon-container {
  display: flex;
  width: 170.17px;
  height: 20px;
  gap: 1.5rem;
  padding-top: 1.5rem;
  list-style: none;
  padding-left: 0;
  margin-left: 24px;
  margin-right: 24px;
}

/* Works section */

#works {
  display: flex;
  flex-direction: column;
  margin-top: 114px;
  gap: 88px;
}

.works-card-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background: #fff;
}

.works {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background: #fff;
}

.works_details {
  flex-direction: column;
}

.card-snapshoot-1 {
  align-self: center;
  width: 295px;
  background-image: url(../images/Snapshoot\ Portfolio.png);
  height: 220px;
  border-radius: 8px;
}

.card-snapshoot-2 {
  align-self: center;
  width: 295px;
  background-image: url(../images/Snapshoot\ Portfolio2.png);
  height: 220px;
  border-radius: 8px;
}

.card-snapshoot-3 {
  align-self: center;
  width: 295px;
  background-image: url(../images/Snapshoot\ Portfolio3.png);
  height: 220px;
  border-radius: 8px;
}

.card-snapshoot-4 {
  align-self: center;
  width: 295px;
  background-image: url(../images/Snapshoot\ Portfolio4.png);
  height: 220px;
  border-radius: 8px;
}

.works-card-title {
  align-self: flex-start;
  margin-top: 12px;
  margin-bottom: 20px;
}

.works-card-title h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  max-width: 295px;
}

.desktop_h2 {
  display: none;
}

.works-client-info {
  padding: 8px 0;
  align-self: flex-start;
  margin-top: 0;
}

.works-client-info_desktop {
  display: none;
}

.works-client-info_mobile .client {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.works-client-info_mobile .role {
  font-family: 'Poppins', sans-serif;

  /* font-style: normal; */
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.works-client-info_mobile .year {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.works-client-info_mobile img {
  margin: 0 12px;
}

.works-description_mobile,
.only {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
}

.works-description_desktop {
  display: none;
}

.works-stacks {
  list-style: none;
  display: inline;
  margin-left: -10;
  padding-left: 0;
}

.works-stacks li {
  display: inline-block;
  line-height: 16px;
}

.works-stacks li a {
  text-decoration: none;
  padding: 4px 12px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  background: #ebebff;
  border-radius: 8px;

  /* margin-right: 8px; */
  max-width: 49px;
  height: 24px;
  letter-spacing: 0.03em;
}

.ruby_on_rails {
  display: none;
}

.more-projects {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  color: #6070ff;
  width: 126px;
  height: 48px;
  margin: 24px 0;
  border-radius: 8px;
  padding: 12px;
  background-color: white;
}

/* About myself section */

.about_myself {
  background: #fff;
  border-top-right-radius: 79px;
  margin-top: 114px;
}

.about_myself_container {
  display: flex;
  flex-direction: column;
}

.about_myself h2 {
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  margin: 0 24px;
  line-height: 52px;
  color: #172b4d;
  padding: 5.5rem 1.5rem 0.7rem 0;
}

.about_myself p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-items: center;
  padding-bottom: 0.8rem;
  margin: 0 24px;
}

.resume {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  color: #6070ff;
  width: 162px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  background-color: white;
  margin: 0 24px;
}

.categories {
  list-style: none;
  padding-bottom: 23px;
  padding-left: 0;
  align-items: center;
  margin: 0 24px;
}

.categories li {
  position: relative;
  padding-bottom: 23px;
  margin-top: 13px;
}

button {
  transition: all 1s;
}

.categories button {
  float: right;
  font-size: 14px;
  color: #acb7c3;
  border: none;
  background-color: white;
  margin: 0;
  font-weight: 500;
}

.categories span h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.modal-view-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  align-items: center;
  width: 327px;
  height: 248.15px;
}

.bottom-separator {
  display: none;
}

/* Modal-view-styles */

.modal-view {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.modal-view-icon img {
  object-fit: cover;
  margin: 9px 12px 9px 16px;
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Contact Section */

.contact-section {
  background: url(../Backgrounds/contact\ form\ shapes-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6070ff;
  border-top-left-radius: 79px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
  text-align: center;
}

.contact-section p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 12px 24px 0 24px;
}

.contact-form .name {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 52px 24px 20px 24px;
  width: 20.5rem;
  height: 3rem;
}

.contact-form .name::placeholder {
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.contact-form .email {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 0 24px 18px 24px;
  width: 20.5rem;
  height: 3rem;
}

.contact-form .email::placeholder {
  padding: 15px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.contact-form .message {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 19.6rem;
  height: 10.6rem;
  margin-bottom: 22px;
  padding: 10px;
}

.contact-form .message::placeholder {
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 0.9rem;
}

input,
textarea {
  border: none;
}

.submit {
  background: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  width: 142px;
  height: 48px;
  align-self: flex-start;
  margin-left: 17px;
  border: none;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.divider {
  border: 0;
  margin-top: 32px;
  margin-bottom: 8px;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  align-self: center;
}

/* Button states */

.modal-view-arrow {
  pointer-events: none;
  width: 40px;
  padding: 8px;
  height: 40px;
  border-radius: 8px;
  position: absolute;
  left: 75.67%;
  right: 10.33%;
  bottom: 25%;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  padding: 12px;
  font-size: 100%;
  font-weight: 500;
  cursor: pointer;
}

button:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

button:visited {
  color: #5e6c84;
}

/* Animation */

@keyframes mover {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* responsiveness */
@media screen and (min-width: 968px) {
  body {
    margin: 0;
    padding: 0;
  }

  /* Tool bar Section */

  .tool-bar-container {
    background-color: #fff;
    padding: 0;
  }

  .desktop_menu {
    display: block;
  }

  .desktop_menu ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
    margin-right: 155px;
  }

  .desktop_menu a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
  }

  .menu-icon {
    display: none;
  }

  .logo-icon {
    margin-left: 132px;
  }

  .headline-container {
    align-items: center;
    justify-content: center;
    background: url(../Backgrounds/Header\ bg@2x.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
  }

  .headline {
    align-self: center;
    width: 63%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
  }

  .headline-container h1 {
    font-size: 48px;
    color: #091e42;
    margin: 0;
  }

  .headline-container p {
    align-self: flex-start;
    font-size: 20px;
    color: #344563;
    margin-top: 12px;
  }

  .connect-head {
    padding-left: 0;
  }

  /* Works section */

  #works {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .mobile_h2 {
    display: none;
  }

  .desktop_h2 {
    display: block;
  }

  .works-card-container {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    width: 80%;
    height: 496px;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    padding: 0;
  }

  .works {
    flex-direction: row;
    justify-content: space-between;
    gap: 22px;
    width: 100%;
    align-items: flex-start;
    border: none;
    padding: 0;
    height: 100%;
    padding-left: 10px;
  }

  .works-description_desktop {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-top: 20px;
  }

  .works-description_mobile {
    display: none;
  }

  .works-client-info_mobile {
    display: none;
  }

  .works-client-info_desktop {
    display: block;
  }

  .works-client-info_desktop .client {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #344563;
  }

  .works-client-info_desktop .role {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .works-client-info_desktop .year {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .works-client-info_desktop img {
    margin: 0 12px;
  }

  .works-stacks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
  }

  .works-stacks span {
    display: block;
    padding: 4px 12px;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    background: #ebebff;
    border-radius: 8px;
    max-width: 105px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .right {
    flex-direction: row-reverse;
  }

  .card-snapshoot-1 {
    background-image: url(../images/snap-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    width: 50%;
    height: 448px;
    border-radius: 8px;
    padding: 0;
    margin: 22px;
  }

  .card-snapshoot-2 {
    background: url(../images/snap-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    width: 50%;
    height: 448px;
    border-radius: 8px;
    margin: 22px;
    padding: 0;
  }

  .card-snapshoot-3 {
    background: url(../images/snap-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    width: 50%;
    height: 448px;
    border-radius: 8px;
    margin: 22px;
    padding: 0;
  }

  .card-snapshoot-4 {
    background: url(../images/snap-4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    width: 50%;
    height: 448px;
    border-radius: 8px;
    margin: 22px;
    padding: 0;
  }

  .works_details {
    width: 50%;
    margin: 24px 22px 7px 22px;
  }

  /* About myself section */

  .about_myself {
    width: 100%;
    display: flex;
    background: #fff;
    gap: 48px;
    justify-content: center;
  }

  .about_myself_container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about_myself h2 {
    color: #091e42;
  }

  .about_myself p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    max-width: 447px;
  }

  .about_myself_desktop_col1 {
    width: 40%;
  }

  .about_myself_desktop_col2 {
    margin-top: 88px;
    margin-bottom: 166px;
    width: 60%;
  }

  .categories span {
    margin-right: 100px;
  }

  .modal-view h3 {
    font-size: 15px;
  }

  .categories span h3 {
    color: #344563;
    align-items: center;
    margin-bottom: 0;
  }

  .modal-view-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
    max-width: 414px;
    height: 144px;
  }

  .modal-view {
    display: flex;
    width: 122px;
    height: 120px;
    flex-direction: column;
    padding: 12px;
  }

  .modal-view-arrow {
    align-self: flex-end;
    margin-right: 142px;
    padding-right: 0;
  }

  .bottom-separator {
    display: block;
    background: #dfe1e6;
    height: 1px;
    max-width: 684px;
  }

  .separator {
    display: none;
  }

  /* Contact section */

  .contact-section {
    background: url(../Backgrounds/contact\ form\ background\ shapes.png);
    width: 100%;
    height: 846px;
    text-align: center;
    background-color: #6070ff;
    margin-top: 0;
  }

  .contact-section p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-self: center;
    width: 569px;
    height: 102px;
  }

  .submit {
    align-self: center;
  }

  .divider {
    display: none;
  }
}
